.dialogue-container {
    background-color: var(--secondary-color);
    max-width: 50%;

    border-radius: 10px;
    word-wrap: break-word;
    padding: 15px;
}

.right {
    margin-left: auto;
    background-color: var(--secondary-color);
}

.left {
    margin-right: auto;
    background-color: grey;
}